<% content_for :header_tags do %>
<% html_title(l(:iat_menu_label)) -%>
  <%= javascript_include_tag "application", :plugin => 'iat' %>
  <%= javascript_include_tag "d3/d3.min", :plugin => 'iat' %>
  <%= javascript_include_tag "nvd3/nv.d3.min", :plugin => 'iat' %>

<% end %>
<h1><%= l(:iat_menu_label) %></h1>
<h2>hello world</h2>
